.container {
    width: 100%;
    height: 100%;
}

.padding {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.padding-bot {
    padding-bottom: 1%;
}

.margin {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

/* 阿里巴巴图标 */
@font-face {
    font-family: 'iconfont';
    /* project id 1473594 */
    src: url('//at.alicdn.com/t/font_1473594_te3ykiowr8.eot');
    src: url('//at.alicdn.com/t/font_1473594_te3ykiowr8.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_1473594_te3ykiowr8.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_1473594_te3ykiowr8.woff') format('woff'),
        url('//at.alicdn.com/t/font_1473594_te3ykiowr8.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_1473594_te3ykiowr8.svg#iconfont') format('svg');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 19px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/* 各种居中位置 */
.xy-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.df {
    display: flex;
}

.y-center-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.y-center-r {
    display: flex;
    justify-content: right;
    align-items: center;
}

.y-center-spa {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.y-center {
    display: flex;
    align-items: center;
}

.x-center {
    display: flex;
    justify-content: center;
}

/* 横轴居中 */
.mar {
    margin: 0 auto;
}

/* 测试边框 */
.test1 {
    border: 1px solid red;
}

.test2 {
    border: 1px solid rgb(118, 14, 187);
}

.test3 {
    border: 1px solid rgb(63, 133, 74);
}

/* 通用盒子 */
.xy-ten-two-box {
    width: 100%;
    height: 20%;
}

.xy-eight-two-box {
    width: 77%;
    height: 20%;
}

.xy-five-box {
    width: 50%;
    height: 50%;
}

/* 宽度样式 */
.x-ten-w {
    width: 100%;
}

.x-seven-w {
    width: 70%;
}

.x-five-w {
    width: 50%;
}

.x-three-w {
    width: 30%;
}

/* 高度样式 */
.y-ten-h {
    height: 100%;
}

.y-seven-h {
    height: 70%;
}

.y-five-h {
    height: 50%;
}

.y-three-h {
    height: 30%;
}

/* 头像大小 */
.avatar {
    width: 50px;
    height: 50px;
}

.cricle {
    border-radius: 50%;
}

.two-cricle {
    border-radius: 20px;
}

/* 边框颜色 */
.grey-border {
    border-bottom: 1px solid grey;
}

/* 字体大小 */
.large-s {
    font-size: large;
}

.larger-s {
    font-size: larger;
}

.x-large-s {
    font-size: x-large;
}

.xx-large-s {
    font-size: xx-large;
}

.medium-s {
    font-size: medium;
}

.small-s {
    font-size: small;
}

.smaller-s {
    font-size: smaller;
}

.smaller-s {
    font-size: smaller;
}

.x-small-s {
    font-size: x-small;
}

.xx-small-s {
    font-size: xx-small;
}

/* 鼠标指针悬停在元素上时显示相应样式 */
/* 悬浮于连接上时，通常为手 */
.hand {
    cursor: pointer;
}

/* input输入框无默认样式 */
.no-input {
    border: none;
    outline: none;
}